.DS_Store
__pycache__/
*~
data/*
CWL/tmp/*
live-data/
skyport2.env
AuthConfig.pm
Config/awe-monitor/config.js
Config/AWE/awe-server.conf
Config/AWE/awe-worker.cfg
Config/ShockBrowser/config.js
Config/authServer/perl/ClientConfigAWE.pm
Config/authServer/perl/ClientConfigDemoApp.pm
Config/authServer/perl/ClientConfigShock.pm
Config/authServer/perl/ClientConfigSkyport.pm
Config/authServer/perl/OAuthConfig.pm
Config/authServer/dbsetup.demo.mysql
Config/authServer/httpd.conf
Config/DemoApp/config.js
Config/DemoApp/index.html
Config/nginx/index.html
Config/nginx/services.html
Config/authServer/cgi/authclient.cgi